@font-face {
    font-family: Montserrat;
    src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
}

body {
    background-image: radial-gradient(circle at 77% 66%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 9%,transparent 9%, transparent 43%,transparent 43%, transparent 100%),radial-gradient(circle at 6% 56%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 20%,transparent 20%, transparent 56%,transparent 56%, transparent 100%),radial-gradient(circle at 48% 45%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 15%,transparent 15%, transparent 85%,transparent 85%, transparent 100%),radial-gradient(circle at 89% 6%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 5%,transparent 5%, transparent 32%,transparent 32%, transparent 100%),radial-gradient(circle at 71% 38%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 14%,transparent 14%, transparent 21%,transparent 21%, transparent 100%),radial-gradient(circle at 84% 78%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 11%,transparent 11%, transparent 85%,transparent 85%, transparent 100%),radial-gradient(circle at 92% 72%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 42%,transparent 42%, transparent 51%,transparent 51%, transparent 100%),radial-gradient(circle at 73% 95%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 48%,transparent 48%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 29% 29%, hsla(39,0%,85%,0.05) 0%, hsla(39,0%,85%,0.05) 24%,transparent 24%, transparent 73%,transparent 73%, transparent 100%),linear-gradient(90deg, hsl(147,0%,99%),hsl(147,0%,99%));
}
@media only screen and (max-width: 878px) {
    .nav-sign-up-button {
        padding: 0 5px;
    }
}

@media only screen and (max-width: 1022px) {
    .nav-bar-link-wrapper {
        display: none;
    }
    .nav-sign-up-button-wrapper {
        display: none;
    }
    .navbar-brand {
        width: 100%;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .index-intro-block {
        margin-bottom: 20px;
    }
    .value-wrapper {
        margin-bottom: 50px;
    }
}

.welcome-to-nntv {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}




h1 {
    font-size: 30px !important;
}

.placeholder-block {
  background-color: #D9D9D9;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-center {
    /* height: calc(80vh - 70px - 100px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.section-padding {
    padding-top: 150px;
    padding-bottom: 80px;
}

.deco-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


@media only screen and (max-width: 767px) {
    /* .deco-image {
        margin-top: 20px;
    } */
}

.yellow-bar {
    /* min-height: 200px; */
    background-color: #FFBD12;
}

.keyword-box {
    /* font-family: Montserrat; */
    font: Montserrat;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 7px;
}

.vision-background-block {
    background-color: #EFEAE3;
    width: 95% !important;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleY(1.2);
}

@media only screen and (max-width: 767px) {
    .vision-background-block {
        background-color: #EFEAE3;
        width: 100% !important;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: scaleX(1.2) scaleY(1.05);
    }
}

.featured-img-wrapper {
    position: relative;
    height: 100%;
}

.featured-img-wrapper .gatsby-image-wrapper {
    height: 100%;
    width: 100%;
}

.opening-tagline {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.value-card {
    min-height: 300px;
}

.value-img-wrapper {
    margin: auto;
    height: calc(((100vw - 100px) / 4) - 2vw);
    width: calc(((100vw - 100px) / 4) - 2vw);
    transition-duration: 100ms;
    border-radius: 30px;
    overflow: hidden;
}

.value-img-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.member-name {
    text-transform: uppercase;
}

.member-bio  {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.member-bio::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.member-bio {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 5%;
    overflow: scroll;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 250ms;
}

.member-bio:hover {
    opacity: 1;
}

.member-image-wrapper {
    position: relative;
    margin: auto;
    height: 265px;
    /* height: 365px; */
    width: 100%;
    transition-duration: 100ms;
    overflow: hidden;
}

.member-image-wrapper > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.member-image-wrapper .gatsby-image-wrapper {
    height: 100%;
    width: 100%;
}
.member-image-wrapper img, .member-image-wrapper picture {
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 1000px) and (max-width: 1299px) {
    .value-img-wrapper {
        height: calc(((100vw - 100px) / 4) - 5vw);
        width: calc(((100vw - 100px) / 4) - 5vw);
    }
}

@media only screen and (min-width: 1300px) {
    .value-img-wrapper {
        height: calc(((100vw - 100px) / 4) - 10vw);
        width: calc(((100vw - 100px) / 4) - 10vw);
    }
}

@media only screen and (max-width: 767px) {
    .value-card {
        margin-top: 20px;
        min-height: 300px;
    }
    .value-img-wrapper {
        height: calc(((100vw - 100px) / 2) - 2vw);
        width: calc(((100vw - 100px) / 2) - 2vw);
    }
    .member-image-wrapper {
        height: 465px;
    }
}

@media only screen and (max-width: 575px) {
    .value-card {
        margin-top: 20px;
        min-height: 300px;
    }
    .value-img-wrapper {
        height: calc(((100vw - 100px) / 1) - 2vw);
        width: calc(((100vw - 100px) / 1) - 2vw);
    }
}

.value-img-wrapper .gatsby-image-wrapper {
    height: 100%;
    width: 100%;
}

.value-img-wrapper .gatsby-image-wrapper img {
    object-fit: cover;
}

.member-image-wrapper {
    background-color: #D9D9D9;
}

.intro-course-block-content * {
    margin-top: 15px;
}

.course-block {
    min-height: 20px;
    border: 1px solid rgba(46, 46, 31, 0.12);
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px;
}

.course-block h6 {
    margin-block-end: 2px;
}

.element-block {
    padding: 10px 30px;
}

.course-element-icon {
    margin-right: 10px;
}

.course-element-info-wrapper span {
    font-weight: bold;
}

.course-block h5 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    .mobile-top-spacing {
        margin-top: 20px;
    }
    .course-block {
        padding: 10px 2px;
    }
    .element-block > div {
        width: 100% !important;
    }
    .course-element-info-wrapper h6, .course-element-info-wrapper span {
        font-size: 10px;
        text-align: center;
    }
}


.block-min-300 {
    padding-top: 30px;
    min-height: 300px;
}

.video-block {
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition-duration: 250ms;
}

@media only screen and (max-width: 575px) {
    .video-block {
        margin-top: 20px;
    }
}

.video-block:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.video-overlay {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.module-title {
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.notepad-textarea {
    margin-top: 20px;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.interactive-block > div, .credit-block > div, .notepad-block > div {
    height: 100%;
}

@media only screen and (max-width: 575px) {
    .interactive-block{
        margin-top: 20px;
    }
}

.module-title-display {
    text-align: center;
    font-size: 40px !important;
}

@media only screen and (max-width: 766px) {
    .credit-block {
        margin-top: 20px;
    }
}

.footer-logo {
    /* -webkit-box-shadow: 0px 0px 15px 6px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 15px 6px rgba(255,255,255,1);
    box-shadow: 0px 0px 15px 6px rgba(255,255,255,1); */
    -webkit-filter: drop-shadow(0px 0px 8px, rgba(255, 255, 255, 1));
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1));
}

.footer-left-title, .footer-center-title, .footer-right-title {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
}

.sub-email-box {
    height: 100%;
}

@media only screen and (max-width: 766px) {
    .sub-email-wrapper {
        margin-top: 30px;
    }
}

.footer-center-title{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.footer-right-title {
    text-align: right;
    margin-bottom: 20px;
    font-size: 20px;
}

.sub-email-text-input {
    border-radius: 5px 0 0 5px !important;
    outline: none;
    border: none;
    padding: 0 10px;
}

.sub-email-button {
    background-color: #FFBD12 !important;
    border-radius: 0 5px 5px 0 !important;
    border: none !important;
}

.sub-email-button:hover {
    filter: brightness(1.2);
}

.sub-email-button-disabled {
    filter: grayscale();
    pointer-events: none;
}

.social-icon-wrapper {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    margin-left: 20px;
    height: 40px;
}

@media only screen and (max-width: 768px) {
    .footer-block, .footer-block p, .footer-block h5, .footer-block span {
        text-align: center;
    }

    .footer-block .contact-item, .footer-block .social-icon-wrapper {
        justify-content: center;
    }

    .footer-block .social-icon {
        margin: 0;
        padding: 0px 10px;
    }

    .footer-right-title {
        margin-top: 20px;
    }
}