@import ./variables.sass
@import "~bulma"

.page-wrapper
  min-height: 100vh
  max-height: 2000px

.display-none
  display: none
.display-flex
  display: flex

.d-flex-c
  justify-content: center

.d-flex-sb
  justify-content: space-between

.d-flex-fs
  justify-content: flex-start

.d-flex-fe
  justify-content: flex-end

.d-flex-row
  flex-direction: row

.d-flex-col
  flex-direction: column

.vertical-white-space
  padding-top: 20px
  padding-bottom: 20px 

.vertical-white-space-top
  padding-top: 20px

.vertical-white-space-large
  padding-top: 40px
  padding-bottom: 40px 

.navbar
  position: sticky !important
  top: 0

.navbar .navbar-menu
  box-shadow: none !important

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center

.btn
    display: inline-block
    padding: 12px 16px 10px
    font-size: 18px
    font-size: 1rem
    line-height: 1.25
    background-color: #fff
    border-radius: .25rem
    text-decoration: none
    font-weight: 700
    color: #CC3700
    text-align: center
    -webkit-box-shadow: inset 0 0 0 2px #CC3700
    box-shadow: inset 0 0 0 2px #f40
    -webkit-transition: all .15s ease
    transition: all .15s ease

.margin-top-0
  margin-top: 0 !important

.navbar-item
  text-decoration: none
  height: 100%
  display: flex
  flex-direction: column
  min-width: 100px
  overflow: visible
  padding: 0 10px 0 10px

.navbar-item-link
  color: #000
  text-decoration: none
  height: 100%
  display: flex
  flex-direction: column

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem

+mobile
  .navbar-brand
    width: 100%
    margin-right: 0 !important
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

.navbar-item a
  transition-duration: 150ms

.navbar-item a:hover
  color: rgb(200, 200, 200)

.sub-navbar
  transition-duration: 250ms
  padding: 0
  padding-left: 0
  padding-top: 0px
  top: 70px
  position: absolute
  background-color: rgba(255, 255, 255, 1)
  -webkit-box-shadow: 0px 5px 19px -9px rgba(0, 0, 0, 0.2)
  box-shadow: 0px 5px 19px -9px rgba(0, 0, 0, 0.2)
  overflow: hidden
  max-height: 1000px

.sub-navbar-item
  text-align: center
  padding: 5px 5px 5px 5px
  border-bottom: dashed 0.2px black
  width: 100px

.sub-navbar-item-wide
  text-align: center
  padding: 5px 5px 5px 5px
  border-bottom: dashed 0.2px black
  width: 200px

.sub-navbar-item a, .sub-navbar-item-wide a
  color: black
  text-decoration: none

.sub-navbar-hidden
  max-height: 0px

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
    padding: .5em .5em .3em .5em
    border-radius: 1em
    background-color: $white-ter
    margin: .5em
    width: 1em
    height: 1em
    vertical-align: middle
    display: inline

// blog roll
.blog-list-item.is-featured
  background-color: #d6400033
.blog-list-item header
  display: flex
  margin-bottom: 1em
.blog-list-item .featured-thumbnail
  flex-basis: 35%
  margin: 0 1.5em 0 0


.dl, ol, ul
  margin-top: 0
  margin-bottom: 0rem !important

.nav-main-container
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  // padding: 10px 10% 10px 10%
  padding: 0px 10% 0px 10%
  border-bottom: 1px black solid
  height: 70px
  max-width: 1000px
  margin: auto

.nav-bar-link-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between
  width: auto

+mobile
  .nav-bar-link-wrapper
    display: none

.nav-sign-up-button-wrapper
  width: auto
  justify-content: center
  flex-direction: column
  display: flex

+mobile
  .nav-sign-up-button-wrapper
    display: none

.button-generic
  background: none
  border-radius: 5px
  border: 1px black solid
  padding: 7px 28px
  cursor: pointer
  transition-duration: 250ms
  width: fit-content

.nav-sign-up-button
  background: none
  border-radius: 5px
  border: 1px black solid
  padding: 0 25px
  height: 60%
  cursor: pointer
  transition-duration: 250ms

.nav-sign-up-button:hover, .button-generic:hover
  background-color: rgba(0, 0, 0, 0.1)

.text-css
  color: red

html
  min-height: 100vh

.obj-fit-contain
  object-fit: contain

.no-padding
  padding: 0